<div class="page-header pull-left">
  <div class="page-title">{{dashboardName || data.title}}<a ng-show="isChildDashboard" ng-click="goToPrevious()"><span class="backicon glyphicon glyphicon-circle-arrow-left"></span></a></div>
</div>
<ol class="breadcrumb page-breadcrumb pull-right">
  <li><i class="fa fa-home"></i>&nbsp;<a href="/#/">Главная</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></li>
  <li ng-repeat="(k,v) in data.breadcrumb" ng-class="{active:$last}">
    &nbsp;&nbsp;
    {{v}}
    &nbsp;&nbsp;<i ng-if="!$last" class="fa fa-angle-right"></i>
  </li>
</ol>
<div class="clearfix"></div>
