<div class="row">
    <div class="col-lg-12">
        <div class="gallery-pages">
            <ul class="list-filter list-unstyled list-inline">
                <li data-filter="all" class="filter active">Все</li>
                <li ng-repeat="category in backdata.categories.items | filter: level!=0 | orderBy:'id':true" data-filter=".filter_{{category.id}}" class="filter">{{category.name}}</li> <!-- todo залепон с сортировкой, надо будет по нормальному сопоставить с дашбордами -->
            </ul>
            <div class="row mix-grid" mixitup>
                <div ng-repeat="dashboard in backdata.dashboards.items | filter: {'visible': true}" class="col-md-3 mix" ng-class="'filter_'.concat(dashboard.category)">
                    <div class="hover-effect">
                        <div class="img"><img ng-src="images/gallery/{{dashboard.id}}.jpg" alt="" class="img-responsive"/></div>
                        <div class="info">
                            <h3>{{dashboard.name}}</h3><a ui-sref="main({'dashboardId': dashboard.id})" data-lightbox="image-1" data-title="Image 1" class="mix-zoom"><i class="glyphicon glyphicon-search"></i></a>
                            <!--<a href="#" class="mix-link"><i class="glyphicon glyphicon-link"></i></a>-->
                        </div>
                    </div>

                    <div class="panel" style="margin-top: 3px">
                        <div class="panel-body">
                            <div class="profile">
                                <div style="margin-bottom: 15px" class="row">
                                    <div class="col-xs-12 col-sm-8">
                                        <h3>{{dashboard.head}}</h3>
                                        <p><strong>Ведомство: </strong>{{dashboard.department}}
                                        </p>
                                        <p><strong>Должность: </strong>{{dashboard.info}}
                                        </p>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 text-center">
                                        <figure><img src="images/avatar/{{dashboard.image}}" alt="" style="display: inline-block" class="img-responsive img-circle"/>
                                            <figcaption class="ratings">
                                                <p><a ng-repeat="i in getTimes(dashboard.rating) track by $index" id="i_{{$index}}" href="javascript:void(0);"><span class="fa fa-star"></span></a><a ng-repeat="j in getTimes(5-dashboard.rating) track by $index" id="j_{{$index}}" href="javascript:void(0);"><span class="fa fa-star-o"></span></a></p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
